<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/main.css'>
    <script src='main.js'></script>
</head>

<body class="main">

    <form hidden action="http://localhost:3000/borrow/delete" method="post" name="delete" id="delete">
    </form>

    <aside>
        <nav class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="http://localhost:3000/users/create">Cadastrar Usuário</a></li>
                <li><a href="http://localhost:3000/book/create">Cadastrar Livro</a></li>
                <li><a href="http://localhost:3000/magazine/create">Cadastrar Magazine</a></li>
                <li><a href="http://localhost:3000/minutes/create">Cadastrar Acta De Congresso</a></li>
                <li><a href="http://localhost:3000/borrow/create">Solicitar Livro</a></li>

            </ul>
        </nav>
    </aside>

    <main>
        <h1>Bem Vindo A Biblioteca Isptec</h1>
        <div class="wrapper">
            <div class="label-register">
                <p>Solicitar Livro</p>
            </div>
            <div class="div-register">
                <form action="http://localhost:3000/borrow/create" method="post" name="frm-register">
                    <table id="tbl-register">
                        <tr>
                            <td>Usuários</td>
                            <td>
                                <select name="bi" id="users">
                                    {% for user in users%}
                                    <option value="{{user.bi}}">{{user.name}}-{{user.bi}}</option>
                                    {% endfor%}

                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>Livros</td>
                            <td>
                                <select name="identifier" id="users">
                                    {% for material in materials%}
                                    <option value="{{material.identifier}}">{{material.identifier}}-{{material.title}}
                                    </option>
                                    {% endfor%}

                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>Quantidade<span>*</span></td>
                            <td>
                                <input type="number" name="amount" id="title" placeholder="Digite a quantidade" />
                            </td>

                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                <button type="submit" name="register"> Register
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <hr />
            <p class="label-result">Lista De Solicitações</p>
            <div class="div-result">
                <table class="tbl-result" id="tbl-result">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nome</th>
                            <th>Cartão De Identidade</th>
                            <th>Identificador Do Livro</th>
                            <th>Titulo</th>
                            <th>Quantidade</th>

                        </tr>
                    </thead>

                    <tbody>
                        {% for item in borrows %}
                        <tr>
                            <td>{{item.identifier}}</td>
                            <td>{{item.user.name}}</td>
                            <td>{{item.user.bi}}</td>
                            <td>{{item.material.identifier}}</td>
                            <td>{{item.material.title}}</td>
                            <td>{{item.amount}}</td>
                            <th><a href="http://localhost:3000/borrow/editar/{{item.identifier}}">Editar</a>
                            </th>
                            <th> <button form="delete" value="{{item.identifier}}" name="id"
                                    type="submit">delete</button></th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </main>


</body>

</html>